h1{
	font-family: "Century Schoolbook", cursive, sans-serif;
	color: #3300CC;
	font-size: 150%;	
	margin: 0;
	padding: 0 0 1em 0;
}

h2{
	font-family: "Century Schoolbook", cursive, sans-serif;
	color: #660066;
	font-size: 130%;
}

body{
	background-color:#FFFFFF;
}

p {
	font-family: "Century Schoolbook", cursive, sans-serif;
	font-size: 125%;
	color: #660099;
}

#footer{
	text-align: center;
	font-family: "Century Schoolbook", cursive, sans-serif;
	font-size: 80%;
	color:#6600FF;
	background-color: #9999FF;
	display: block;
}
#footer a:hover {background:#CC99FF;}	
#wrapper {
	position: relative;
	text-align: left;
	width: 85%;
	margin: 0 auto 0 auto;
	padding: 0;
}

#navigation
{
	text-align: right;
}
#navigation a:hover {background:#CC99FF;}	
	
#links{
font-family: "Century Schoolbook", cursive, sans-serif;
} 
#links a:hover {background:#CC99FF;}	
#links a:visited {color:#9966CC;}


/*
#topMenu{
	display: block;
	float: left;
	width: 100%;
	padding-top: 2px;
}*/
/*No Selected tabs
#noSelected{
	display:inline;
	float: left;
	height: 46;
	padding-left: 1.5%;	
}
*/

/*selected tabs
#selected{
	background: #d9b8ef;	
	display:inline; 
	float: right;
	width: 17%;
	padding:0;
	height: 46;
	text-align:center;
}
*/

/*hover tabs
#noSelected:hover{
	background: #e589c0;	
*/



#tabs{
	font-family: "Century Schoolbook", cursive, sans-serif;
	color: #580644;
	border: solid;
	border-width: 2px 2px 2px 2px;
	border-radius: 5px;
	background: #d94692;
	text-shadow: rgb(90,90,90) 2px 2px 3px;
	display: block;
	min-width:755;
	
 }/*
#tabs li a{
	list-style:none;
	padding: 0em .3em 0em .3em;
	color: black;
	font-weight: bold;
}
#tabs li{
	display:inline-block;
	list-style:none;
	vertical-align: middle;	
 }*/
 #tabs a:hover{
	border-radius: 5px;
	background:#d98db4;
	float: left;
	/*padding: .1em .3em .3em .3em;*/
}
#selected a{
	padding: .5em 0em 0em 0em;/**/
	background-image: url('../Images/MenuStar.png');
	background-position: right top;
	background-repeat:no-repeat;
	position: relative;
	display:inline; 
	float: left;
	width: 17%;
	text-align:center;
	text-decoration: none;
	font-weight: bold;
	color:black;
}
#noSelected a{
	padding: .5em .3em 0em .3em;
	/*background-image: url('../Images/MenuStar.png');
	background-position: right top;
	background-repeat:no-repeat;
	position: relative;*/
	display:inline; 
	float: left;
	width: 17%;
	text-align:center;
	text-decoration: none;
	font-weight: bold;
	color:black;
}

#tabContent {
	font-family: "Century Schoolbook", cursive, sans-serif;
	border: 2px solid;
	clear: both;
	padding: 1em;
	color:#3300CC;
}
#tabContent p {
	margin: 0;
	padding: 1em;
}

.login {
	font-family: "Century Schoolbook", cursive, sans-serif;	
	font-size: 120%;
	font-weight: bold;
	color: #d94692;
	text-align: right;
}
.center {
    width: 35%;
	height: 35%;
	margin-left: 33%; 
}
.right{
	position:absolute;
	right:0px;
	width: 25%;
	height: 25%;
}
.left{
	position:absolute;
	left:0px;
	width: 25%;
	height: 25%;
}
#bigText{
	font-family: "Century Schoolbook", cursive, sans-serif;
	color: #663399;
	font-size: 120%;
}

#navigation{
	font-family: "Century Schoolbook", cursive, sans-serif;
	color: #663399;
	font-size: 60%;
	text-align: right;
}
#navigation a:hover {background:#CC99FF;}

#right{
	font-family: "Century Schoolbook", cursive, sans-serif;
	color: #663399;
	text-align: right;
}
